<div class="col-lg-8 col-lg-offset-2">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Disfruta de los animales de nuestro zoologico</p>
    <p>
      <a [routerLink]="['/animals']" role="button" class="btn btn-primary btn-lg">
        Ver animales
      </a>
      <a [routerLink]="['/keepers']" role="button" class="btn btn-success btn-lg">
        Ver cuidadores
      </a>
      <a [routerLink]="['/contact']" role="button" class="btn btn-warning btn-lg">
        Contacto
      </a>
    </p>
  </div>
</div>
